<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="CurrencyExchange"
         connectionString="Server=ReplaceServer\SQLEXPRESS;DataBase=CurrencyExchange;User Id=testuser;Password=okoora;Integrated Security=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CurrencyPairs" value="USD/ILS,USD/EUR,GBP/EUR,EUR/JPY" />

    <!--XE Api-->
    <add key="AccountApiId" value="na277967347" />
    <add key="ApiKey" value="5jascocj0hcvqv4a47v7f20vd2" />
    <add key="XEBaseUrl" value="https://xecdapi.xe.com/v1/convert_from.json" />
    <!--OpenExchange Api-->
    <add key="app_id" value="597ffaf9eb2641ad80cf17a2cb1e9eef" />
    <add key="OpenExchangeBaseUrl" value="https://openexchangerates.org/api/latest.json" />
  </appSettings>
</configuration>
